:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 100%;
    height: 982px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  

  .top-bar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    background-color:  #e3ebff;
    width: 1512px;
    height: 103px;
    margin: 0 0 0 0;
  }
  
  .frame {
    flex-shrink: 0;
    position: relative;
    width: 1460.894px;
    height: 103px;
    z-index: 2;
    overflow: hidden;
  }
  
  .main-container2 {
    position: absolute;
    left: 4%;
    width: 213.245px;
    height: 103px;
    margin: 0 auto;
  }
  
  .company-name-icon {
    position: absolute;
    width: 213.245px;
    height: 103px;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .we-cure-it {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 87.38%;
    top: 5.83%;
    left: 0;
    color: #1a1a1a;
    
    font-size: 31px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .vector {
    position: absolute;
    width: 24.28%;
    height: 51.53%;
    top: 24.24%;
    left: 73.99%;
    background: url(../../assets/images/Logo.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 3;
  }
  
  .create-appointment-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 202px;
    height: 74px;
    top: 16px;
    right: 224px;
    z-index: 10;
    overflow: hidden;
    border-radius: 60px;
  }
  .create-appointment-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    
    position: relative;
    width: 202px;
    height: 67px;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
    background: #ffbfab;
    border: none;
    z-index: 11;
    overflow: hidden;
    border-radius: 60px;
  }
  .frame-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 9px;
    position: relative;
    width: 154px;
    z-index: 12;
  }
  .create-new-appointment {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 154px;
    height: 50px;
    color: #6a3c3c;
    right :35%;
    font-size: 16px;
    font-weight: 700;
    line-height: 80px;
    text-align: right;
    white-space: nowrap;
    z-index: 13;
  }
  .profile {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 31px;
    left: 1355.894px;
    z-index: 8;
    border-radius: 500px;
  }
  .unsplash-ctagwpbqg {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(../../assets/images/profile.png)
      no-repeat center;
    background-size: cover;
    z-index: 9;
    border-radius: 500px;
  }


  .edit-profile-information {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 606px;
    height: 784px;
    top: 158px;
    left: 539px;
    z-index: 12;
  }
  .group-2 {
    flex-shrink: 0;
    position: relative;
    width: 606px;
    height: 724px;
    z-index: 13;
  }
  .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 409px;
    margin: 204px 0 0 70px;
    z-index: 40;
  }
  .frame-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 58px;
    z-index: 41;
  }
  .address {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 42;
  }
  .frame-5 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 405px;
    height: 32px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 43;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .frame-6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    color: #d9d9d9;
    position: relative;
    width: 73px;
    z-index: 44;
  }

  .input {
    color: rgba(0, 0, 0, 0.2); 
  font-family: "Poppins", Helvetica;
  font-size: 10px;
  font-weight: 500;
 

  flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;

    line-height: 15px;
    text-align: left;
    white-space: nowrap;
   z-index: 48;

  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 95%;
  border: none;
  }
  .frame-7 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 405px;
    height: 32px;
    top: 65px;
    left: 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 46;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 73px;
    z-index: 47;
  }
  .address-line-9 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 48;
  }
  .frame-a {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 28px;
    height: 21px;
    top: 109px;
    left: 0;
    z-index: 49;
  }
  .city {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
  }
  .frame-b {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 126px;
    height: 32px;
    top: 134px;
    left: 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 51;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 54px;
    z-index: 52;
  }
  .city-name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
  }
  .frame-d {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 37px;
    height: 21px;
    top: 109px;
    left: 142px;
    z-index: 54;
  }
  .state {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 55;
  }
  .frame-e {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 126px;
    height: 32px;
    top: 134px;
    left: 142px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 56;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-f {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 60px;
    z-index: 57;
  }
  .state-name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 58;
  }
  .frame-10 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 68px;
    height: 21px;
    top: 109px;
    left: 284px;
    z-index: 59;
  }
  .zip-code {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 60;
  }
  .frame-11 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: absolute;
    width: 121px;
    height: 32px;
    top: 134px;
    left: 284px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 61;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-12 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 45px;
    z-index: 62;
  }
  .city-name-13 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
  }
  .frame-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 404px;
    height: 69px;
    margin: 151px 0 0 70px;
    z-index: 28;
  }
  .frame-15 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 100px;
    z-index: 29;
  }
  .email-address {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .frame-16 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 404px;
    height: 32px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 31;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-17 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 82px;
    z-index: 32;
  }
  .enter-your-email {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  .frame-18 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 410px;
    height: 66px;
    margin: 8px 0 0 70px;
    z-index: 22;
  }
  .frame-19 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 111px;
    z-index: 23;
  }
  .reset-password {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  }
  .frame-1a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 404px;
    height: 32px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 25;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-1b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 79px;
    z-index: 26;
  }
  .reset-password-1c {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .frame-1d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 410px;
    height: 66px;
    margin: 16px 0 0 69px;
    z-index: 16;
  }
  .frame-1e {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 148px;
    z-index: 17;
  }
  .name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }
  .frame-1f {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 404px;
    height: 32px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 19;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-20 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 107px;
    z-index: 20;
  }
  .password {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
  }
  .buttons {
    position: relative;
    width: 409px;
    height: 48px;
    margin: 43px 0 0 65px;
    z-index: 70;
  }
  .next {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: 6px;
    left: 171px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
  }
  .arrow {
    position: absolute;
    width: 21px;
    height: 0px;
    top: 16px;
    left: 211px;
    background: url(../assets/images/d24192a1-827a-476d-aaf0-1e73afacbfa3.png)
      no-repeat center;
    background-size: cover;
    z-index: 72;
  }
  .frame-21 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 606px;
    height: 132px;
    top: 0;
    left: 0;
    z-index: 14;
  }
  .edit-profile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 167px;
    height: 48px;
    top: 42px;
    left: 57px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .frame-22 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 204px;
    height: 69px;
    top: 121px;
    left: 270px;
    z-index: 64;
  }
  .frame-23 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 75px;
    z-index: 65;
  }
  .name-24 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 66;
  }
  .frame-25 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 201px;
    height: 32px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 67;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-26 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 107px;
    z-index: 68;
  }
  .name-27 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 69;
  }
  .frame-28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 191px;
    height: 69px;
    top: 124px;
    left: 70px;
    z-index: 34;
  }
  .frame-29 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 76px;
    z-index: 35;
  }
  .first-name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
  }
  .frame-2a {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 183px;
    height: 32px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    z-index: 37;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-2b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 108px;
    z-index: 38;
  }
  .enter-first-name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 15px;
    color: #d9d9d9;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 39;
  }
  .buttons-2c {
    flex-shrink: 0;
    position: absolute;
    width: 409px;
    height: 48px;
    top: 668px;
    left: 70px;
    z-index: 73;
  }
  .frame-2d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 404px;
    height: 32px;
    top: 0;
    left: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 74;
  }
  .frame-2e {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 404px;
    height: 32px;
    padding: 10px 0 10px 10px;
    background: #3a5b22;
    border: 1px solid #3a5b22;
    z-index: 75;
    overflow: hidden;
    border-radius: 10px;
  }
  .frame-2f {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 31px;
    height: 15px;
    padding: 0;
    z-index: 76;
  }
  .save-changes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 97px;
    height: 20px;
    top: 4px;
    left: 163px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
    white-space: nowrap;
    z-index: 77;
  }
  .edit-profile-30 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 43px;
    top: 247px;
    left: 249px;
    color: #1b1b1b;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
  }
  .edit {
    position: absolute;
    width: 45.861px;
    height: 34.767px;
    top: 248px;
    left: 185px;
    background: url(../assets/images/dc029b07-10d2-4b30-82d9-e795f3941ff8.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
    overflow: hidden;
  }
  .edit-payment-method {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 193px;
    height: 69px;
    top: 314px;
    left: 249px;
    color: #1b1b1b;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 275;
    line-height: 36px;
    text-align: left;
    z-index: 6;
  }
  .edit-31 {
    position: absolute;
    width: 45.861px;
    height: 34.767px;
    top: 315px;
    left: 185px;
    background: url(../assets/images/76299bb4-aa75-4570-b784-ee4b593cd2b4.png)
      no-repeat center;
    background-size: cover;
    z-index: 7;
    overflow: hidden;
  }
  .edit-saved-preferences {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 193px;
    height: 69px;
    top: 392px;
    left: 249px;
    color: #1b1b1b;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 275;
    line-height: 36px;
    text-align: left;
    z-index: 10;
  }
  .edit-32 {
    position: absolute;
    width: 45.861px;
    height: 34.767px;
    top: 393px;
    left: 185px;
    background: url(../assets/images/c19b8fc6-506b-42f3-aa26-da0da51d84c5.png)
      no-repeat center;
    background-size: cover;
    z-index: 11;
    overflow: hidden;
  }
  