:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
    }
    .main-container {
    overflow: hidden;
    }
    .main-container,
    .main-container * {
    box-sizing: border-box;
    }
    input,
    select,
    textarea,
    button {
    outline: 0;
    }
    .main-container {
    position: relative;
    width: 100%;
    height: 982px;
    margin: 0 auto;
    background: hsl(0, 9%, 96%);
    overflow: hidden;
    }
    .main-container1 {
        position: relative;
        float: left;
        width: 30%;
        height: 982px;
        margin: 0px auto;
        padding: 250px 10px 10px 10px;
        overflow: hidden;
        }
        .nameGroup {
            position: relative;
            width: 100%;
            float: left;
            height:fit-content;
            margin: 0px auto;
            margin-bottom: 20px;
        }
        .nameGroup1 {
            position: relative;
            margin-left: 0px;
            float: left;
            width: 50%;
            height:fit-content;
            margin: 0px auto;
        }
        .nameGroup2 {
            position: relative;
            float: left;
            width: 50%;
            height:fit-content;
            margin: 0px auto;
        }
        .main-container2 {
            position: relative;
            float: left;
            width: 60%;
            height: 982px;
            padding-top: 150px;
            margin: 0 auto;
            overflow: hidden;
        }
        .main-container3 {
            position: relative;
            float: left;
            width: 10%;
            height: 982px;
            padding-top: 150px;
            margin: 0 auto;
            overflow: hidden;
        }
    .topBar{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;
        background-color:  #c0cef1;
        width: 100%;
        height: 103px;
        margin: 0 0 0 0;
    }
    .text-1{
        position: relative;
        width: 171.973px;
        height: 73px;
        margin: 0x auto;
        color: #1b1b1b;
        font-family: Poppins, var(--default-font-family);
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
    }
    .text-2{
        position: relative;
        margin: 0x auto;
        color: #535050;
        font-family: Poppins, var(--default-font-family);
        font-size: 16px;
        font-weight: 300px;
        line-height: 36px;
    }
    .text-3{
        position: relative;
        flex-shrink: 0;
        flex-basis: auto;
        margin: 0x auto;
        height: 21px;
        color: #000000;
        font-family: Poppins, var(--default-font-family);
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 2;
    }
    .h1{
        position: relative;
        margin-left: 40px;
        color: #1b1b1b;
        font-family: Poppins, var(--default-font-family);
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        justify-content: left;
        z-index: 1;
    }
    .firstName{
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-shrink: 0;
        gap: 10px;
        position: relative;
        width: 300px;
        height: 32px;
        padding: 10px 0 10px 10px;
        border: 1px solid #d9d9d9;
        margin-top: 5px;
        z-index: 27;
        overflow: hidden;
        border-radius: 10px;
    }
    .lastName{
        align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 300px;
    height: 32px;
    padding: 10px 0 10px 10px;
    border: 1px solid #d9d9d9;
    margin-top: 5px;
    z-index: 27;
    overflow: hidden;
    border-radius: 10px;
    }
    .emailaddress{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-shrink: 0;
        gap: 10px;
        position: relative;
        width: 404px;
        height: 32px;
        padding: 10px 0 10px 10px;
        border: 1px solid #d9d9d9;
        z-index: 21;
        overflow: hidden;
        margin-top: 10px;
        border-radius: 10px;
    }
    .contact{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-shrink: 0;
        gap: 10px;
        position: relative;
        width: 404px;
        height: 32px;
        padding: 10px 0 10px 10px;
        border: 1px solid #d9d9d9;
        z-index: 21;
        overflow: hidden;
        margin-top: 10px;
        border-radius: 10px;
    }
    .margin-top20{
        margin-top: 20px;
    }

    .listbox{
        position: relative;
        float: left;
        width: 700px;
        height:200px;
        overflow: scroll;
    }
    .header{
        position: relative;
        float: left;
        width: 321.8px;
        height: 30px;
        justify-content: center;
        padding: 10px 10px 10px 10px;
        background-color: #D9D9D9;
    }
    .header2{
        position: relative;
        float: left;
        width: 321.8px;
        height: 30px;
        margin-left: 57px;
        padding: 10px 10px 10px 10px;
        background-color: #D9D9D9;
    }
    .button{
        display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 303px;
    height: 32px;
    padding: 10px 0 10px 108px;
    color: #d9d9d9;
    background: #3a5b22;
    border: 0px solid #3a5b22;
    z-index: 64;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 220px;
    }
    .button:hover{
        background-color: #416427;
    }
    .text-white{
        color: #D9D9D9;
        align-content: center ;
    }
    .text-white:hover{
        color: #D9D9D9;
        align-content: center ;
        text-shadow: #868383;
    }
    .edit {
        position: absolute;
        width: 45.861px;
        height: 34.767px;
        top: 248px;
        left: 185px;
        background: url(../assets/images/dc029b07-10d2-4b30-82d9-e795f3941ff8.png)
          no-repeat center;
        background-size: cover;
        z-index: 3;
        overflow: hidden;
      }