.frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 404px;
}

.frame .name-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.frame .name {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame .frame-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 32px;
  overflow: hidden;
  padding: 10px 0px 10px 10px;
  position: relative;
  width: 404px;
}

.frame .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-bottom: -1.5px;
  margin-top: -1.5px;
  position: relative;
}

.frame .text-wrapper {
  color: var(--muted);
  font-family: "Poppins", Helvetica;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
